@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0; 
    padding:0; 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    position: relative;
    width:100%;
    height:100vh; 
    overflow:auto;
    background:black;
    scroll-behavior: smooth;    /* 스크롤 부드럽게 */
    scroll-snap-type: y mandatory ; /* Y축으로 */
}

.scr{
    position:relative; 
    width:100%; 
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
}

h3{
    color:rgb(255, 255, 255); /* I'M A & MOYUJIN글씨 */
    font-size:10vw;
    text-align: center;
}
.scr:nth-child(1){  /* I'M A 배경 */
    background:  rgb(0, 0, 0);
    background-size: cover;
    background-attachment: fixed; 
    background-position: center; 
}
.scr:nth-child(2){   /* D 배경 */
    background: url('img2.jpg') ;
    background-size: cover;
    background-attachment: fixed; 
    background-position: center; 
}
.scr:nth-child(3){   /* E 배경 */
    background: url('img3.jpg') ;
    background-size: cover;
    background-attachment: fixed; 
    background-position: center; 
}
.scr:nth-child(4){   /* V 배경 */
    background: url('img4.jpg') ;
    background-size: cover;
    background-attachment: fixed; 
    background-position: center; 
}
.scr:nth-child(5){   /* E 배경 */
    background: url('img5.jpg') ;
    background-size: cover;
    background-attachment: fixed; 
    background-position: center; 
}
.scr:nth-child(6){   /* L 배경 */
    background: url('img6.jpg') ;
    background-size: cover;
    background-attachment: fixed; 
    background-position: center; 
}
.scr:nth-child(7){   /* O 배경 */
    background: url('img7.jpg') ;
    background-size: cover;
    background-attachment: fixed; 
    background-position: center; 
}
.scr:nth-child(8){   /* P 배경 */
    background: url('img8.jpg') ;
    background-size: cover;
    background-attachment: fixed; 
    background-position: center; 
}
.scr:nth-child(9){   /* E 배경 */
    background: url('img9.jpg') ;
    background-size: cover;
    background-attachment: fixed; 
    background-position: center; 
}
.scr:nth-child(10){   /* R 배경 */
    background: url('img10.jpg') ;
    background-size: cover;
    background-attachment: fixed; 
    background-position: center; 
}
.scr:nth-child(11){     /* MOYUJIN 배경 */
    background: black;
    background-attachment: fixed; 
    background-position: center; 
} 
.scr:nth-child(12){   /* yuzinnee's  배경 */
    background: white;
    background-attachment: fixed; 
    background-position: center; 
} 
.content{
    position:absolute;
    top:0; 
    width:100%;
    text-align: center;
}
.content h2{
    position:relative;
    display:flex;
    justify-content: center;
}
.content h2 span{   /*developer 글씨*/
    position:sticky;
    top:0;
    line-height:100vh;
    height:100vh; 
    color:rgb(255, 255, 255);
    font-size:14vw;
    margin-top:calc(100vh * var(--i));

}
a {   /*하이퍼링크 밑줄없애기*/
    text-decoration: none; color: black;
}
